@import url(reset.css);
@import url(../fonts/fonts.css);

a {
  display: block;
}
body {
  background-color: #e5e9ea;
}

img {
  max-width: 100%;
}

.clear {
  clear:both;
}
.header {
}

.header_main {
  display:inline-block;
  background-color: #fff;
  width: 100%;
  min-width: 320px;
}

.logo {
  background-color: #3498db;
  width: 20%;
  display:block;
  float: left;
}

.for_pc {
  display: none;
}

.logo a{
  font-family: 'Streamster',Arial,sans-serif;
  font-size: 33px;
  line-height: 59px;
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
}

.search {
  float:left;
  width: 20%;
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
}

.search input {
  border: none;
}
.search input::placeholder {
  color: transparent;
}

.search .input {
  width: 100%;
  padding-top: 8px;
  padding-right: 37px;
  padding-bottom: 9px;
  padding-left: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: #e3e3e3;
  font-family: 'Roboto_thin', Arial, sans-serif;
  font-size: 13px;
  color: #272727;
  outline: none;
}

.search .input:focus {
  background: #e3e3e3;
  color: #272727;
}

.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(../img/search.png) 50% no-repeat;
  opacity: 0.16;
}

.search .submit:hover {
  opacity: 0.36;
}

.info {
  float: left;
}

.info_list {
  margin-left: 10px;
  margin-top:20px;
  display: block;
}
.info_list li {
  margin-left: 10px ;
  display: inline-block;
}

.nav {
  margin-top: -3px;
  clear: both;
  background-color: #2c3e50;
}

.nav .main_nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.main_nav li {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 6px solid #2c3e50;
}

.main_nav a {
  height: 60px;
  text-align: center;
  line-height: 66px;
  vertical-align: middle;
}

.main_nav li:hover {
  border-bottom: 6px solid #f95738;
}
.content {
  clear: both;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sales_info:first-child {
  margin: 6% 6% 3% 6%;

}

.sales_info:last-child {
  margin: 3% 6% 6% 6%;
}
.sales_info {
  background-color: #fff;
  margin: 3% 6% 3% 6%;
}

.sales_desc {
  margin-top: 2%;
  text-align:center;
  font-family: 'Roboto_regular',Arial,sans-serif;
  font-size: 33px;
  line-height: 44px;
  color: #a3a3a3;
}

.block_sett {
  padding: 6px;
  width: 30px;
  height: 30px;
  float: right;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #a3a3a3;
  margin-right: 10px;
  margin-top: 1%;
}

.img_center {
  display: block;
  text-align: center;
  clear: both;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  margin-bottom: 50px;

}

.img_center img{
  width:90%;
}

.full_list {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
}
.full_list a{
  text-decoration: none;
  font-family: 'Roboto_light', Arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #a3a3a3;
}

.full_list a:hover {
  text-decoration: underline;
}

.sales_flow_chart_info {
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
}

.sales_flow_chart_info li{
  display: block;
  font-family: 'Roboto_light';
  color: #858585;
}

.sales_flow_chart_info li:first-child {
  margin-bottom: 10px;
}

.orange {
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f95738;
}

.red {
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #c72000;
}

.dark_red {
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #8e1800;
}

.brown {
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #570e00;
}

.black {
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #2c3e50;
}

.blue {
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #3498db;
}

.bold {
  font-family: 'Roboto_medium';
}

.table {
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 25px;
  overflow: scroll;
}

.table  tr {
  font-size: 15px;
  line-height: 23px;
  border-bottom: 1px solid black;
}

.table  tr:nth-child(2n) {
  background-color: #ecf0f1;
}

.table  th {
  padding: 0 15px 0 15px;
  height: 40px;
  vertical-align: middle;
  overflow: scroll;
}

.rating img{
  min-width: 100px;
  max-width:75%;
}
.caption {
  font-family: 'Roboto_Regular';
}

.table_info {
  font-family: 'Roboto_light';
  color: #858585;
}

.todays_product_list_stat {
  width: 90%;
  clear: both;
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 60px;
}

.todays_product_list_stat li {
  position: relative;
}

.todays_product_list_stat h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: 'Roboto_Regular';
  font-size: 15px;
  line-height: 22px;
}

.todays_product_list_stat img {
  height: 18px;
}

.todays_profit {
  display: block;
  text-align: center;
  clear: both;
  font-family:'Roboto_bold',Arial,sans-serif;
  font-size: 60px;
  line-height: 80px;
  color: #f95738;
  margin-top: 60px;
}

.todays_profit img {
  margin-left: 6px;
  height: 17px;
}

.product_list {
  border: 0;
  background:none;
  color: #858585;
  font-family: 'Roboto_Regular';
  font-size: 18px;
  margin-bottom: 75px;
}

.average_sale {
  display: block;
  clear: both;
  width: 65%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 30px;
  font-family: 'Roboto_light';
  font-size: 15px;
  line-height: 22px;
  color: #858585;
}

.average_sale li {
  padding: 5px;
  border-bottom: 1px solid #858585;
}

li .grey {
  float: right;
  font-family: 'Roboto_medium';
}

.average_total {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto_Regular';
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #363636;
}

@media (min-width:768px) {
  .for_pc {
    display: inline;
  }

  .search input::placeholder {
    color: #272727;
    opacity: 0.85;
  }

  .nav .main_nav {
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }

.main_nav li {
  margin: 0;
  width: 18%;
}

  .main_nav a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto_Regular';
  }

  .main_nav a .for_pc {
    line-height: 60px;
    vertical-align: top;
  }

  .main_nav a img{
    margin-left: 5px;
    margin-right: 5px;
  }
}
