@import url(reset.css);
@import url(../fonts/fonts.css);

a {
  display: block;
}
body {
  background-color: #e5e9ea;
}

.header {
}

.header_main {
  display:inline-block;
  background-color: #fff;
  width: 100%;
  min-width: 320px;
}

.logo {
  background-color: #3498db;
  width: 20%;
  display:block;
  float: left;
}

.for_pc {
  display: none;
}

.logo a{
  font-family: 'Streamster',Arial,sans-serif;
  font-size: 33px;
  line-height: 59px;
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
}

.search {
  float:left;
  width: 20%;
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
}

.search input {
  border: none;
}
.search input::placeholder {
  color: transparent;
}

.search .input {
  width: 100%;
  padding-top: 8px;
  padding-right: 37px;
  padding-bottom: 9px;
  padding-left: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: #e3e3e3;
  font-family: 'Roboto_thin', Arial, sans-serif;
  font-size: 13px;
  color: #272727;
  outline: none;
}

.search .input:focus {
  background: #e3e3e3;
  color: #272727;
}

.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(../img/search.png) 50% no-repeat;
  opacity: 0.16;
}

.search .submit:hover {
  opacity: 0.36;
}

.info {
  float: left;
}

.info_list {
  margin-left: 10px;
  margin-top:20px;
  display: block;
}
.info_list li {
  margin-left: 10px ;
  display: inline-block;
}

.nav {
  margin-top: -3px;
  clear: both;
  background-color: #2c3e50;
}

.nav .main_nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.main_nav li {
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 6px solid #2c3e50;
}

.main_nav a {
  padding-top: 17px;
  padding-bottom: 9px;
  text-align: center;
}
.main_nav li:hover {
  border-bottom: 6px solid #f95738;
}
.content {
  clear: both;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sales_info:first-child {
  margin: 6% 6% 3% 6%;

}

.sales_info:last-child {
  margin: 3% 6% 6% 6%;
}
.sales_info {
  background-color: #fff;
  margin: 3% 6% 3% 6%;
}

.sales_desc {
  margin-top: 2%;
  text-align:center;
  font-family: 'Roboto_regular',Arial,sans-serif;
  font-size: 33px;
  line-height: 44px;
  color: #a3a3a3;
}

.block_sett {
  padding: 6px;
  width: 30px;
  height: 30px;
  float: right;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #a3a3a3;
  margin-right: 10px;
  margin-top: 1%;
}

.img_center {
  display: block;
  text-align: center;
  clear: both;
  margin-top: 70px;
  margin-bottom: 50px;
}

.full_list {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}
.full_list a{
  text-decoration: none;
  font-family: 'Roboto_light', Arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #a3a3a3;
}

.full_list a:hover {
  text-decoration: underline;
}
