@import url(reset.css);
@import url(fonts/fonts.css);

body {
  background-color: #e6eaeb;
}

.header_main {
  display: inline-block;
  width: 100%;
  background-color: #fff;
}

.logo {
  float:left;
  font-family: 'Streamster';
  width: 20%;
  background-color: #3498db;
  text-align: center;
}

#logo {
  text-decoration: none;
  color: #fff;
  font-size: 33px;
  line-height: 200%;
}

.search {
  float:left;
  width: 20%;
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
}

.search input {
  border: none;
}

.search .input {
  width: 100%;
  padding-top: 8px;
  padding-right: 37px;
  padding-bottom: 9px;
  padding-left: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: #e3e3e3;
  font-family: 'Roboto_thin', Arial, sans-serif;
  font-size: 13px;
  color: #272727;
  outline: none;
}

.search .input:focus {
  background: #e3e3e3;
  color: #272727;
}

.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(../img/search.png) 50% no-repeat;
  opacity: 0.16;
}

.search .submit:hover {
  opacity: 0.36;
}

input[type="search"] {
  -webkit-appearance: none;
}

.info {
  float: left;
  margin-top: 20px;
}

.info_list {
  display: block;
}

.info_list li {
  display: inline-block;
  margin-left: 24px;
}
