@import url(reset.css);
@import url(fonts/fonts.css);

body {
  font-family: 'Streamster';
  background-color: yellow;
}
a {
  font-family: 'Streamster';

}
li {
  color: yellow;
}
.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
}
